*{
    font-family: "Poppins", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
    height: auto;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
}
.nav-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80px;
    max-height: 100px;
    margin-left: 2rem;
}
.navbar-links-container a {
    margin-right: 3rem;
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    font-weight: 600;
}
.nav-bar-menu-container {
    cursor: pointer;
    display: none;
    position: fixed;
    right: 1rem;
    font-size: 1.5rem;
}
.navbar-menu-container svg {
    font-size: 1.5rem;
    cursor: pointer;
}
/*Responsivo Mobile*/
@media (max-width: 1000px) {
    .navbar-links-container{
        margin-right: 1rem;
        font-size: 2rem;
    }
}
@media (max-width: 800px) {
    .nav-menu-icon{
        display:  flex;
        margin-top: 1rem;
        position: fixed;
        right: 1rem;
        font-size: 1.5rem;
    }
    .nav-links-lista a{
        display: flex;
        margin-top: 1rem;
        margin-left: 2rem;
        text-decoration: none;
        color: black;
        font-size: 1.1rem;
        font-weight: 500;
        text-indent: 10px;
    }
    .nav-logo-container{
        max-width: 70px;
    }
    .navbar-links-container {
        display: none;
    }
    .nav-bar-menu-container {
        display: flex;
    }
}
@media (max-width: 600px) {
    .nav-menu-icon{
        display:  flex;
        margin-top: 1rem;
        position: fixed;
        right: 1rem;
        font-size: 1.5rem;
    }
    .nav-links-lista a{
        display: flex;
        margin-top: 1rem;
        margin-left: 2rem;
        text-decoration: none;
        color: black;
        font-size: 1.1rem;
        font-weight: 500;
        text-indent: 10px;
    }
    .nav-logo-container{
        max-width: 70px;
    }
    .navbar-links-container {
        display: none;
    }
    .nav-bar-menu-container {
        display: flex;
    }
}
@media (max-width: 400px) {
    .nav-menu-icon{
        display:  flex;
        margin-top: 1rem;
        position: fixed;
        right: 1rem;
        font-size: 1.5rem;
    }
    .nav-links-lista a{
        display: flex;
        margin-top: 1rem;
        margin-left: 2rem;
        text-decoration: none;
        color: black;
        font-size: 1.1rem;
        font-weight: 500;
        text-indent: 10px;
    }
    .nav-logo-container{
        max-width: 70px;
    }
    .navbar-links-container {
        display: none;
    }
    .nav-bar-menu-container {
        display: flex;
    }
}