*{
    font-family: "Poppins", serif;
}
.corpo{
    display: block;
    width: 100%;
    text-align: center;
    padding: 1px 20px 1px 20px; /*Superior,Direita,Inferior,Esquerda*/
}
.titulo h1 {
    width: 100%;
    font-size: 15pt;
    color: #000000;
    text-align: center;
}
.contact h2 {
    width: 100%;
    font-size: 13pt;
    text-align: center;
    color: #000000;
    background-color: #dddddd;
    padding: 5px 0px 5px 10px;
}
.contact h3 {
    font-size: 13pt;
    text-align: center;
    color: #000000;
}
.contact p {
    font-size: 12pt;
    text-align: center;
    color: #000000;
}
@media (max-width: 800px){
    .corpo{
        display: block;
        width: 95%;
        text-align: center;
        padding: 1px 20px 1px 20px; /*Superior,Direita,Inferior,Esquerda*/
    }
    .titulo h1 {
        width: 100%;
        font-size: 15pt;
        color: #000000;
        text-align: center;
    }
    .contact h2 {
        width: 100%;
        font-size: 13pt;
        text-align: center;
        color: #000000;
        background-color: #dddddd;
        padding: 5px 0px 5px 10px;
    }
    .contact h3 {
        font-size: 13pt;
        text-align: center;
        color: #000000;
    }
    .contact p {
        font-size: 12pt;
        text-align: center;
        color: #000000;
    }
}
@media (max-width: 600px){
    .corpo{
        display: block;
        width: 95%;
        text-align: center;
        padding: 1px 20px 1px 20px; /*Superior,Direita,Inferior,Esquerda*/
    }
    .titulo h1 {
        width: 100%;
        font-size: 15pt;
        color: #000000;
        text-align: center;
    }
    .contact h2 {
        width: 100%;
        font-size: 13pt;
        text-align: center;
        color: #000000;
        background-color: #dddddd;
        padding: 5px 0px 5px 10px;
    }
    .contact h3 {
        font-size: 13pt;
        text-align: center;
        color: #000000;
    }
    .contact p {
        font-size: 12pt;
        text-align: center;
        color: #000000;
    }
}
@media (max-width: 400px){
    .corpo{
        display: block;
        width: 95%;
        text-align: center;
        padding: 1px 20px 1px 20px; /*Superior,Direita,Inferior,Esquerda*/
    }
    .titulo h1 {
        width: 100%;
        font-size: 15pt;
        color: #000000;
        text-align: center;
    }
    .contact h2 {
        width: 100%;
        font-size: 13pt;
        text-align: center;
        color: #000000;
        background-color: #dddddd;
        padding: 5px 0px 5px 10px;
    }
    .contact h3 {
        font-size: 13pt;
        text-align: center;
        color: #000000;
    }
    .contact p {
        font-size: 12pt;
        text-align: center;
        color: #000000;
    }
}