*{
    font-family: "Poppins", serif;
}
.app{
    margin-top: 0;
    width: 100%;
}
div#titulo {    
    text-align: center;
}
div#titulo h1 {
    font-size: 20pt;
    color: #000000;
}
/*Formatação Section lado esquerdo*/
section#corpo {
    display: block;
    width:700px;
    float: left;  /* Flutuar do lado esquerdo */
    border-right: 1px solid #606060;
    padding-left: 30px;
    padding-right: 20px;
}
article#noticia-left h2 {
    font-size: 13pt;
    color: #606060;
    background-color: #dddddd;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
}
article#noticia-left p {
    font-size: 12pt;
    color: #000000;
}
/*Formatação Aside lado direito*/
aside#lateral {
    display: block;
    width: 650px;
    float: right;  /* Flutuar do lado direito */
    border-right: 1px solid #606060;
    padding-left: 5px;
    padding-right: 30px;
    margin-bottom: 20px;
}
article#noticia-right h2 {
    font-size: 13pt;
    color: #606060;
    background-color: #dddddd;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
}
article#noticia-right p {
    font-size: 12pt;
    color: #000000;
}
/*Responsivo Mobile*/
@media (max-width: 800px) {
    .app{
        display: block;
        margin-top: 0;
        width: 100%;
    }
    div#titulo {    
        text-align: center;
    }
    div#titulo h1 {
        font-size: 12pt;
        color: #000000;
    }
    /*Formatação Section lado esquerdo*/
    section#corpo {
        float: left;  /* Flutuar do lado esquerdo */
        width: 500px;
        align-items: center;
        justify-content: center;
        margin: 10px auto;
    }
    article#noticia-left h2 {
        width: 500px;
        font-size: 12pt;
        color: #606060;
        background-color: #dddddd;
        align-items: center;
        justify-content: center;
        margin: 10px auto;
    }
    article#noticia-left p {
        width: 500px;
        font-size: 10pt;
        color: #000000;
        align-items: center;
        justify-content: center;
        margin: 10px auto;
    }
    /*Formatação Aside lado direito*/
    aside#lateral {
        float: right;  /* Flutuar do lado esquerdo */
        width:500px;
        align-items: center;
        justify-content: center;
        margin: auto 0;
    }
    article#noticia-right h2 {
        font-size: 12pt;
        color: #606060;
        background-color: #dddddd;
        align-items: center;
        justify-content: center;
    }
    article#noticia-right p {
        font-size: 10pt;
        color: #000000;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width: 400px) {
    .app{
        display: block;
        margin-top: 0;
        width: 100%;
    }
    div#titulo {    
        text-align: center;
    }
    div#titulo h1 {
        font-size: 10pt;
        color: #000000;
    }
    /*Formatação Section lado esquerdo*/
    section#corpo {
        display: flex;
        width:450px;
        align-items: center;
        justify-content: center;
        margin: 10px auto;
    }
    article#noticia-left h2 {
        font-size: 12pt;
        color: #606060;
        background-color: #dddddd;
        align-items: center;
        justify-content: center;
        margin: 10px auto;
    }
    article#noticia-left p {
        font-size: 10pt;
        color: #000000;
        align-items: center;
        justify-content: center;
        margin: 10px auto;
    }
    /*Formatação Aside lado direito*/
    aside#lateral {
        display: flex;
        width:350px;
        align-items: center;
        justify-content: center;
        margin: auto 0;
    }
    article#noticia-right h2 {
        font-size: 12pt;
        color: #606060;
        background-color: #dddddd;
        align-items: center;
        justify-content: center;
    }
    article#noticia-right p {
        font-size: 10pt;
        color: #000000;
        align-items: center;
        justify-content: center;
    }
}