*{
    font-family: "Poppins", serif;
}
.corpo{
    display: block;
    width: 100%;
    text-align: center;
    padding: 1px 20px 1px 20px; /*Superior,Direita,Inferior,Esquerda*/
}
.titulo h1{
    width: 100%;
    font-size: 15pt;
    color: #000000;
    text-align: center;
}
.sobre h2 {
    width: 100%;
    font-size: 13pt;
    align-items: center;
    color: #000000;
    background-color: #dddddd;
    padding: 5px 0px 5px 10px;
}
.sobre p {
    font-size: 12pt;
    color: #000000;
    padding: 5px 0px 10px 0px;
}
.novidades h2 {
    width: 100%;
    font-size: 13pt;
    color: #000000;
    background-color: #dddddd;
    padding: 5px 0px 5px 10px;
}
.novidades p {
    font-size: 12pt;
    color: #000000;
    padding: 5px 0px 10px 0px;
}
/*Responsivo Mobile*/
@media (max-width: 1000px) {
    .corpo{
        display: block;
        width: 95%;
        text-align: center;
        padding: 1px 20px 1px 20px; /*Superior,Direita,Inferior,Esquerda*/
    }
    .titulo h1{    
        width: 100%;
        font-size: 15pt;
        color: #000000;
        text-align: center;
    }
    .sobre h2 {
        width: 100%;
        font-size: 13pt;
        align-items: center;
        color: #000000;
        background-color: #dddddd;
        padding: 5px 0px 5px 10px;
    }
    .sobre p{
        width: 100%;
        font-size: 12pt;
        color: #000000;
        padding: 5px 0px 10px 0px;        
    }
    .novidades h2 {
        width: 100%;
        font-size: 13pt;
        align-items: center;
        color: #000000;
        background-color: #dddddd;
        padding: 5px 0px 5px 10px;
    }
    .novidades p {
        width: 100%;
        font-size: 12pt;
        color: #000000;
        padding: 5px 0px 10px 0px;  
    }
}
@media (max-width: 800px) {
    .corpo{
        display: block;
        width: 95%;
        text-align: center;
        padding: 1px 20px 1px 20px; /*Superior,Direita,Inferior,Esquerda*/
    }
    .titulo h1{    
        width: 100%;
        font-size: 15pt;
        color: #000000;
        text-align: center;
    }
    .sobre h2 {
        width: 100%;
        font-size: 13pt;
        align-items: center;
        color: #000000;
        background-color: #dddddd;
        padding: 5px 0px 5px 10px;
    }
    .sobre p{
        width: 100%;
        font-size: 12pt;
        color: #000000;
        padding: 5px 0px 10px 0px;        
    }
    .novidades h2 {
        width: 100%;
        font-size: 13pt;
        align-items: center;
        color: #000000;
        background-color: #dddddd;
        padding: 5px 0px 5px 10px;
    }
    .novidades p {
        width: 100%;
        font-size: 12pt;
        color: #000000;
        padding: 5px 0px 10px 0px;  
    }
}
@media (max-width: 600px) {
    .corpo{
        display: block;
        width: 95%;
        text-align: center;
        padding: 1px 20px 1px 20px; /*Superior,Direita,Inferior,Esquerda*/
    }
    .titulo h1{    
        width: 100%;
        font-size: 15pt;
        color: #000000;
        text-align: center;
    }
    .sobre h2 {
        width: 100%;
        font-size: 13pt;
        align-items: center;
        color: #000000;
        background-color: #dddddd;
        padding: 5px 0px 5px 10px;
    }
    .sobre p{
        width: 100%;
        font-size: 12pt;
        color: #000000;
        padding: 5px 0px 10px 0px;        
    }
    .novidades h2 {
        width: 100%;
        font-size: 13pt;
        align-items: center;
        color: #000000;
        background-color: #dddddd;
        padding: 5px 0px 5px 10px;
    }
    .novidades p {
        width: 100%;
        font-size: 12pt;
        color: #000000;
        padding: 5px 0px 10px 0px;  
    }
}
@media (max-width: 400px) {
    .corpo{
        display: block;
        width: 95%;
        text-align: center;
        padding: 1px 20px 1px 20px; /*Superior,Direita,Inferior,Esquerda*/
    }
    .titulo h1{    
        width: 100%;
        font-size: 15pt;
        color: #000000;
        text-align: center;
    }
    .sobre h2 {
        width: 100%;
        font-size: 13pt;
        align-items: center;
        color: #000000;
        background-color: #dddddd;
        padding: 5px 0px 5px 10px;
    }
    .sobre p {
        width: 100%;
        font-size: 12pt;
        color: #000000;
        padding: 5px 0px 10px 0px;      
    }
    .novidades h2 {
        width: 100%;
        font-size: 13pt;
        align-items: center;
        color: #000000;
        background-color: #dddddd;
        padding: 5px 0px 5px 10px;
    }
    .novidades p {
        width: 100%;
        font-size: 12pt;
        color: #000000;
        padding: 5px 0px 10px 0px;  
    }
}