.rodape {
    font-family: "Poppins", serif;
    clear: both;
}
.rodape p {
    font-size: 10pt;
    color: #606060;
    text-align: center;
    padding: 5px 0px 5px 10px;
}
.rodape a {
    font-size: 10pt;
    color: #000080;
    text-align: center;
    padding: 5px 5px 5px 5px;
    text-decoration: none;
}
/*Responsivo*/
@media (max-width: 800px){
    .rodape {
    font-family: "Poppins", serif;
    clear: both;
    }
    .rodape p {
        font-size: 10pt;
        color: #606060;
        text-align: center;
        padding: 5px 0px 5px 10px;
    }
    .rodape a {
        font-size: 10pt;
        color: #000080;
        text-align: center;
        padding: 5px 5px 5px 5px;
        text-decoration: none;
    }
}
@media (max-width: 600px){
    .rodape {
    font-family: "Poppins", serif;
    clear: both;
    }
    .rodape p {
        font-size: 10pt;
        color: #606060;
        text-align: center;
        padding: 5px 0px 5px 10px;
    }
    .rodape a {
        font-size: 10pt;
        color: #000080;
        text-align: center;
        padding: 5px 5px 5px 5px;
        text-decoration: none;
    }
}
@media (max-width: 400px){
    .rodape {
    font-family: "Poppins", serif;
    clear: both;
    }
    .rodape p {
        font-size: 10pt;
        color: #606060;
        text-align: center;
        padding: 5px 0px 5px 10px;
    }
    .rodape a {
        font-size: 10pt;
        color: #000080;
        text-align: center;
        padding: 5px 5px 5px 5px;
        text-decoration: none;
    }
}